{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="">

{{ include("partials/title_section.html.twig", {"name":"Home Page"}) }}

</div>
{% endblock %}
