{% extends 'base.html.twig' %}

{% block title %}CGU AliExprass !{% endblock %}

{% block body %}

{{ include("partials/title_section.html.twig", {"name":"Conditions Générales d'utilisation"}) }}

	<div class="container">
		<h1 class="text-center">Conditions Générales d'Utilisations du site AliExprass✅</h1>

		<p class="text-justify">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper nisl at elementum feugiat. Sed tincidunt in mauris id congue. In hac habitasse platea dictumst. Pellentesque libero diam, faucibus ut accumsan quis, dignissim at velit. Aliquam vitae posuere urna. Integer molestie massa nec mauris molestie pellentesque. Sed sit amet ligula vel magna iaculis condimentum at non enim. Praesent posuere, elit sed fringilla posuere, massa ipsum dignissim orci, vel ultricies nunc nunc id neque. Sed nunc urna, laoreet eget luctus ac, auctor vitae tellus. Proin blandit ullamcorper felis nec tincidunt. Ut eu hendrerit dolor.
			
			Donec tempor nibh sit amet leo maximus, semper tempus mi mattis. Maecenas eu lorem orci. Pellentesque sed ornare purus, at volutpat diam. Nulla malesuada iaculis erat ac convallis. In interdum ullamcorper turpis vitae porttitor. Curabitur ultrices elit ut sollicitudin dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque id est in arcu aliquet elementum. Suspendisse nisl purus, porta et erat id, vestibulum gravida orci. Ut elementum ornare libero, quis ultricies tortor iaculis in.
			    
			Donec faucibus est vel tempus auctor. Ut nec metus diam. Etiam accumsan semper sem a imperdiet. Nunc aliquet auctor tellus vitae maximus. Sed tristique vehicula nibh, sed venenatis nisl ultrices at. Morbi bibendum posuere purus eu malesuada. Praesent porttitor convallis molestie.</p>
	</div>
{% endblock %}
